.section-unread-content {
  width: 130rem;
  margin: 3rem auto;
}

.unread-content-container {
  display: flex;
  gap: 1rem;
  padding: 1.8rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
}

.unread-content-post {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: rgba(25, 44, 56);
}

.unread-post-timeline {
  display: flex;
  gap: 1rem;
}

.unread-action-button {
  align-self: center;
}

.forum-topic-replies-container {
  display: flex;
  flex-direction: column;
}

.reply-user-content {
  height: 100%;
}

.reply-user-letter {
  display: inline-block;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  padding: 1.9rem 2.4rem;
  border-radius: 50%;
  font-size: 4rem;
}

.reply-details {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.reply-data {
  color: rgba(53, 60, 65);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 22px;
  word-spacing: 2px;
}

.reply-time {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(113, 128, 150);
}

.reply-time:hover {
  cursor: pointer;
}

.reply-button {
  align-self: flex-end;
  cursor: pointer;
  /* width: 10rem; */
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 4px;
  font-size: 1.5rem;
  border: none;
  color: rgba(23, 126, 201, 0.6);
  background: #fff;
  transition: all 0.25s ease;
}

.reply-button:hover {
  box-shadow: 0 10px 20px -10px rgba(131, 131, 132, 0.6);
  transform: translateY(-5px);
  background: #fff;
}

/* media query from 1280 */
@media (max-width: 80em) {
  .section-unread-content {
    width: 125rem;
  }
  .forum-topic-replies-container {
    width: 125rem;
  }
}

/* media query from 1270 */
@media (max-width: 79em) {
  .section-unread-content {
    width: 120rem;
  }
  .forum-topic-replies-container {
    width: 120rem;
  }
}

/* media query from 1200 */
@media (max-width: 75em) {
  .section-unread-content {
    width: 105rem;
  }
  .forum-topic-replies-container {
    width: 105rem;
  }
}

/* media query from 1145 */
@media (max-width: 71.6em) {
  .section-unread-content {
    width: 96rem;
  }
  .forum-topic-replies-container {
    width: 96rem;
  }
}

/* media query from 995 */
@media (max-width: 62.2em) {
  .section-unread-content {
    width: 85rem;
  }
  .forum-topic-replies-container {
    width: 85rem;
  }
}

/* media query from 890 */
@media (max-width: 55.7em) {
  .section-unread-content {
    width: 74rem;
  }
  .forum-topic-replies-container {
    width: 74rem;
  }
}

/* media query from 780 */
@media (max-width: 48.8em) {
  .section-unread-content {
    width: 64rem;
  }
  .forum-topic-replies-container {
    width: 64rem;
  }

  .reply-details {
    width: 57rem;
    align-items: flex-start;
  }
  .reply-time {
    font-size: 1.3rem;
  }
}

/* media query from 660 */
@media (max-width: 41.3em) {
  .section-unread-content {
    width: 51rem;
  }
  .forum-topic-replies-container {
    width: 51rem;
  }

  .reply-details {
    width: 47rem;
    align-items: flex-start;
  }
  .reply-time {
    font-size: 1.3rem;
  }
}

/* media query from 490 */
@media (max-width: 31em) {
  .section-unread-content {
    width: 39rem;
  }
  .forum-topic-replies-container {
    width: 39rem;
  }

  .reply-details {
    width: 37rem;
    align-items: flex-start;
  }
  .reply-time {
    font-size: 1.3rem;
  }
}

/* media query from 430 */
@media (max-width: 25em) {
  .section-unread-content {
    width: 37rem;
  }
  .forum-topic-replies-container {
    width: 37rem;
  }
  .reply-details {
    width: 34rem;
    align-items: flex-start;
  }
  .reply-time {
    font-size: 1.3rem;
  }
}

/* media query from 412 */
@media (max-width: 25.75em) {
  .section-unread-content {
    width: 39rem;
  }
  .forum-topic-replies-container {
    width: 39rem;
  }
  .reply-details {
    width: 36rem;
    align-items: flex-start;
  }
  .reply-time {
    font-size: 1.3rem;
  }
}

/* media query from 380 */
@media (max-width: 24.4em) {
  .section-unread-content {
    width: 37rem;
  }
  .forum-topic-replies-container {
    width: 37rem;
  }
  .reply-details {
    width: 34rem;
    align-items: flex-start;
  }
  .reply-time {
    font-size: 1.3rem;
  }
}

/* media query from 360 */
@media (max-width: 22.5em) {
  .section-unread-content {
    width: 33rem;
  }
  .forum-topic-replies-container {
    width: 34rem;
  }
  .reply-details {
    width: 30rem;
    align-items: flex-start;
  }
  .reply-time {
    font-size: 1.3rem;
  }
}
