.section-forum-topic {
  width: 130rem;
  margin: 3rem auto;
}

.forum-no-token {
  background-color: #fff;
  border-radius: 1rem;
  font-size: 2.5rem;
  padding: 20rem 2rem;
  text-align: center;
}

.forum-topic-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 2.5fr 1fr;
}

.forum-topic-replies-container {
  display: flex;
  flex-direction: column;
}

.forum-topic-main-post {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  padding: 1.5rem;
  height: 100%;
  margin-bottom: 4rem;
}

.main-post-header {
  font-size: 2.4rem;
  font-weight: 600;
  color: rgba(45, 54, 59);
  letter-spacing: 0.5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.main-post-timeline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.2rem;
}

.main-post-user {
  display: inline-block;
  font-weight: 500;
  color: rgba(25, 44, 56);
}

.main-post-container {
  margin: 1.5rem 0rem;
}

.main-post-content {
  display: inline-block;
  font-weight: 400;
  line-height: 2.5rem;
  color: rgba(25, 44, 56);
}

.txt-align {
  text-align: center;
}

.post-sz-1 {
  font-size: 2rem;
}

.post-sz-2 {
  font-size: 1.5rem !important;
}

.pd-1 {
  padding: 1.75rem !important;
}

.main-post-time {
  display: inline-block;
  font-size: 1.4rem;
  color: rgba(113, 128, 150);
}

.main-post-user-replies {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.main-post-user-replies-mobile {
  display: none !important;
}

.main-post-user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.main-post-photo {
  width: 100%;
  height: 100%;
}
.user-reply-mobile {
  display: none !important;
}
.user-reply {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  gap: 6rem;
  padding: 1.8rem;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
}

.skeleton-user-reply {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
}

.user-reply-container-mobile {
  display: none !important;
}

.user-reply:not(:last-of-type) {
  margin-bottom: 3rem;
}

.comment-reply {
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
  padding: 1.8rem;
  background-color: #fff;
  border-radius: 0.4rem;
  border-left: 0.5rem solid #000;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.075);
}

.reply-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.reply-info-responsive {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.reply-comment-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.reply-details {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.reply-user-content {
  height: 100%;
}

.reply-user-letter {
  display: inline-block;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  padding: 1.9rem 2.4rem;
  border-radius: 50%;
  font-size: 4rem;
}

.comment-user-letter {
  display: inline-block;
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  padding: 1.3rem 1.6rem;
  border-radius: 50%;
  font-size: 3rem;
}

.reply-time {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(113, 128, 150);
}

.reply-time:hover {
  cursor: pointer;
}

.reply-data {
  color: rgba(53, 60, 65);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 22px;
  word-spacing: 2px;
}

.reply-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply-comment-container {
  display: flex;
  flex-direction: column;
}

.post-stats-container {
  /* height: 11.7%; */
  height: 10rem;
  display: flex;
  gap: 2rem;
  padding: 2.4rem 0rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
}

.post-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-stat-head {
  display: inline-block;
  font-size: 1.9rem;
  font-weight: 350;
  text-transform: capitalize;
  color: rgba(113, 128, 150);
  margin-bottom: 0.5rem;
}

.post-stat-data {
  display: inline-block;
  font-size: 2.1rem;
  font-weight: 600;
  color: rgba(53, 60, 65);
  margin-top: 0.5rem;
}

.reply-controller {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  padding: 1rem;
}

.reply-button {
  align-self: flex-end;
  cursor: pointer;
  /* width: 10rem; */
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 4px;
  font-size: 1.5rem;
  border: none;
  color: #fff;
  background: rgba(23, 126, 201);
  transition: all 0.25s ease;
}

.reply-button:hover {
  box-shadow: 0 10px 20px -10px rgba(23, 126, 201, 0.6);
  transform: translateY(-5px);
  background: rgba(23, 126, 201);
}

.form-reply {
  margin-top: 3rem;
}

.reply-container::placeholder {
  padding: 1.5rem 0rem 0rem 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: rgba(113, 128, 150);
}

/* media query from 1270 */
@media (max-width: 79em) {
  .section-forum-topic {
    width: 120rem;
  }
  .user-reply-mobile {
    display: none !important;
  }
  .user-reply {
    display: grid !important;
  }
}

/* media query from 1200 */
@media (max-width: 75em) {
  .section-forum-topic {
    width: 105rem;
  }
  .user-reply-mobile {
    display: none !important;
  }
  .user-reply {
    display: grid !important;
  }
}

/* media query from 1145 */
@media (max-width: 71.6em) {
  .section-forum-topic {
    width: 100rem;
  }

  .forum-topic-container {
    grid-template-columns: 2.5fr 2.5fr;
  }
  .user-reply-mobile {
    display: none !important;
  }
  .user-reply {
    display: grid !important;
  }
}

/* media query from 1024 */
@media (max-width: 64em) {
  .user-reply {
    display: grid;
  }
}

/* media query from 995 */
@media (max-width: 62.2em) {
  .section-forum-topic {
    width: 85rem;
  }

  .forum-topic-container {
    grid-template-columns: 1fr;
  }

  .post-stats-container {
    display: none;
  }
  .user-reply-mobile {
    display: none !important;
  }
  .user-reply {
    display: grid !important;
  }
}

/* media query from 890 */
@media (max-width: 55.7em) {
  .section-forum-topic {
    width: 74rem;
  }
  .user-reply-mobile {
    display: none !important;
  }
  .user-reply {
    display: grid !important;
  }
}

/* media query from 780 */
@media (max-width: 48.8em) {
  .section-forum-topic {
    width: 71rem;
  }
  .forum-topic-main-post {
    width: 71rem;
  }
  .main-post-user-replies {
    width: 71rem;
  }
  .main-post-user-replies-mobile {
    display: block !important;
    width: 68rem !important;
  }

  .comment-reply {
    flex-direction: column;
  }

  .user-reply {
    display: none !important;
  }

  .user-reply-container-mobile {
    display: flex !important;
    flex-direction: column;
    background-color: #fff;
    gap: 4rem;
    padding: 1.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-mobile {
    display: flex !important;
    flex-direction: column;
    gap: 6rem;
    width: 71rem;
    padding: 1.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-container-mobile:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .user-reply-info-mobile {
    display: flex;
    gap: 2rem;
  }

  .reply-details {
    width: 68rem;
    align-items: flex-start;
  }

  .reply-comments {
    margin-bottom: 2rem;
  }

  .reply-time {
    font-size: 1.3rem;
  }

  .reply-info-responsive {
    display: none !important;
  }
}

/* media query from 660 */
@media (max-width: 41.3em) {
  .section-forum-topic {
    width: 61rem;
  }

  .forum-topic-main-post {
    width: 61rem;
  }

  .main-post-user-replies {
    width: 61rem;
  }

  .main-post-user-replies-mobile {
    display: block !important;
    width: 57rem !important;
  }

  .comment-reply {
    flex-direction: column;
  }

  .user-reply {
    display: none !important;
  }

  .user-reply-container-mobile {
    display: flex !important;
    flex-direction: column;
    background-color: #fff;
    gap: 4rem;
    padding: 1.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-mobile {
    display: flex !important;
    flex-direction: column;
    gap: 6rem;
    width: 61rem;
    padding: 1.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-container-mobile:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .user-reply-info-mobile {
    display: flex;
    gap: 2rem;
  }

  .reply-details {
    width: 57rem;
    align-items: flex-start;
  }

  .reply-comments {
    margin-bottom: 2rem;
  }

  .reply-time {
    font-size: 1.3rem;
  }

  .reply-info-responsive {
    display: none !important;
  }
}

/* media query from 490 */
@media (max-width: 31em) {
  .section-forum-topic {
    width: 47rem;
  }
  .forum-topic-main-post {
    width: 47rem;
  }
  .main-post-user-replies {
    width: 47rem;
  }
  .main-post-user-replies-mobile {
    display: block !important;
    width: 43rem !important;
  }

  .comment-reply {
    flex-direction: column;
  }

  .user-reply {
    display: none !important;
  }

  .user-reply-container-mobile {
    display: flex !important;
    flex-direction: column;
    background-color: #fff;
    gap: 4rem;
    padding: 1.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-mobile {
    display: flex !important;
    flex-direction: column;
    gap: 6rem;
    width: 47rem;
    padding: 1.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-container-mobile:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .user-reply-info-mobile {
    display: flex;
    gap: 2rem;
  }

  .reply-details {
    width: 43rem;
    align-items: flex-start;
  }

  .reply-comments {
    margin-bottom: 2rem;
  }

  .reply-time {
    font-size: 1.3rem;
  }

  .reply-info-responsive {
    display: none !important;
  }
}

/* media query from 430 */
@media (max-width: 25em) {
  .section-forum-topic {
    width: 37rem;
  }
  .forum-topic-main-post {
    width: 37rem;
  }
  .main-post-user-replies {
    width: 37rem;
  }
  .main-post-user-replies-mobile {
    display: block !important;
    width: 33rem !important;
  }

  .comment-reply {
    flex-direction: column;
  }

  .user-reply {
    display: none !important;
  }

  .user-reply-container-mobile {
    display: flex !important;
    flex-direction: column;
    background-color: #fff;
    gap: 4rem;
    padding: 1.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-mobile {
    display: flex !important;
    flex-direction: column;
    gap: 6rem;
    width: 38rem;
    padding: 1.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-container-mobile:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .user-reply-info-mobile {
    display: flex;
    gap: 2rem;
  }

  .reply-details {
    width: 34rem;
    align-items: flex-start;
  }

  .reply-comments {
    margin-bottom: 2rem;
  }

  .reply-time {
    font-size: 1.3rem;
  }

  .reply-info-responsive {
    display: none !important;
  }
}

/* media query from 412 */
@media (max-width: 25.75em) {
  .section-forum-topic {
    width: 47rem;
  }
  .forum-topic-replies-container {
    width: 47rem;
  }

  .main-post-user-replies {
    width: 47rem;
  }
  .main-post-user-replies-mobile {
    display: block !important;
    width: 43rem !important;
  }

  .comment-reply {
    flex-direction: column;
  }

  .user-reply {
    display: none !important;
  }

  .user-reply-container-mobile {
    display: flex !important;
    flex-direction: column;
    background-color: #fff;
    gap: 4rem;
    padding: 1.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-mobile {
    display: flex !important;
    flex-direction: column;
    gap: 6rem;
    width: 47rem;
    padding: 1.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-container-mobile:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .user-reply-info-mobile {
    display: flex;
    gap: 2rem;
  }

  .reply-details {
    width: 43rem;
    align-items: flex-start;
  }

  .reply-comments {
    margin-bottom: 2rem;
  }

  .reply-time {
    font-size: 1.3rem;
  }

  .reply-info-responsive {
    display: none !important;
  }
}

/* media query from 380 */
@media (max-width: 24.4em) {
  .section-forum-topic {
    width: 42.5rem;
  }
  .forum-topic-main-post {
    width: 42.5rem;
  }
  .main-post-user-replies {
    width: 42.5rem;
  }
  .main-post-user-replies-mobile {
    display: block !important;
    width: 39rem !important;
  }

  .comment-reply {
    flex-direction: column;
  }

  .user-reply {
    display: none !important;
  }

  .user-reply-container-mobile {
    display: flex !important;
    flex-direction: column;
    background-color: #fff;
    gap: 4rem;
    padding: 1.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-mobile {
    display: flex !important;
    flex-direction: column;
    gap: 6rem;
    width: 42rem;
    padding: 1.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-container-mobile:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .user-reply-info-mobile {
    display: flex;
    gap: 2rem;
  }

  .reply-details {
    width: 39rem;
    align-items: flex-start;
  }

  .reply-comments {
    margin-bottom: 2rem;
  }

  .reply-time {
    font-size: 1.3rem;
  }

  .reply-info-responsive {
    display: none !important;
  }
}

/* media query from 360 */
@media (max-width: 22.5em) {
  .section-forum-topic {
    width: 40.6rem;
  }
  .forum-topic-main-post {
    width: 40.6rem;
  }
  .main-post-user-replies {
    width: 40.6rem;
  }
  .main-post-user-replies-mobile {
    display: block !important;
    width: 37.6rem !important;
  }

  .comment-reply {
    flex-direction: column;
  }

  .user-reply {
    display: none !important;
  }

  .user-reply-container-mobile {
    display: flex !important;
    flex-direction: column;
    background-color: #fff;
    gap: 4rem;
    padding: 1.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-mobile {
    display: flex !important;
    flex-direction: column;
    gap: 6rem;
    width: 38.6rem;
    padding: 1.8rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  }

  .user-reply-container-mobile:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .user-reply-info-mobile {
    display: flex;
    gap: 2rem;
  }

  .reply-details {
    width: 35.6rem;
    align-items: flex-start;
  }

  .reply-comments {
    margin-bottom: 2rem;
  }

  .reply-time {
    font-size: 1.3rem;
  }

  .reply-info-responsive {
    display: none !important;
  }
}

/* media query from 344 */
@media (max-width: 22em) {
  .section-forum-topic {
    width: 38.6rem;
  }
  .forum-topic-main-post {
    width: 38.6rem;
  }
  .main-post-user-replies {
    width: 38.6rem;
  }

  .main-post-user-replies-mobile {
    display: block !important;
    width: 34.6rem !important;
  }

  .reply-comments {
    margin-bottom: 2rem;
  }
}
