/************************/
/* HERO */
/************************/
.section-hero {
  padding: 1.8rem 0 1.6rem 0;
  background-color: #2c2c2c;
}

.hero {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-img-box {
  overflow: hidden;
  border-radius: 11px;
}

.hero-img-skeleton-box {
  overflow: hidden;
  border-radius: 11px;
  height: 80vh;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.hero-text-box {
  background-color: #0d0d0d91;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  border-radius: 11px;
}

.hero-link:link,
.hero-link:visited {
  text-decoration: none;
  color: #fff;
}

.hero-link:hover,
.hero-link:active {
  cursor: pointer;
  color: #fff;
}

/* media query from 1336 */
@media (max-width: 85.4em) {
  .hero-img-skeleton-box {
    height: 35vh;
  }
}

/* media query from 1270 */
@media (max-width: 79em) {
  .hero-img-skeleton-box {
    height: 55vh;
  }
}

/* media query from 1240 */
@media (max-width: 78em) {
  .hero-img-skeleton-box {
    height: 55vh;
  }
}

/* media query from 1200 */
@media (max-width: 75em) {
  .hero-img-skeleton-box {
    height: 55vh;
  }
}

/* media query from 1145 */
@media (max-width: 71.6em) {
  .hero-img-skeleton-box {
    height: 35vh;
  }
}

/* media query from 1024 */
@media (max-width: 64em) {
  .hero-img-skeleton-box {
    height: 32vh;
  }
}

/* media query from 768 */
@media (max-width: 48em) {
  .hero-img-skeleton-box {
    height: 35vh;
  }
}

/* media query from 430 */
@media (max-width: 26.9em) {
  .hero-img-skeleton-box {
    height: 30vh;
  }
}

/* media query from 390 */
@media (max-width: 24.4em) {
  .hero-img-skeleton-box {
    height: 30vh;
  }
}

/* media query from 380 */
@media (max-width: 23.8em) {
  .hero-img-skeleton-box {
    height: 35vh;
  }
}

/* media query from 360 */
@media (max-width: 22.5em) {
  .hero-img-skeleton-box {
    height: 30vh;
  }
}
