.section-feeds {
  padding: 1.8rem 0 9.6rem 0;
}

.feeds-container {
  width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  /* margin: 7rem auto 0 auto; */
}

.feeds-header {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 4rem;
  margin-bottom: 4.2rem;
}

.feeds-board {
  height: 50.1rem;
  width: 55.9rem;
  border: none;
}

/* media query from 1270 */
@media (max-width: 79em) {
  .feeds-container {
    width: 120rem;
  }

  .feeds-board {
    width: 54.9rem;
  }
}

/* media query from 1240 */
@media (max-width: 78em) {
  .feeds-container {
    width: 120rem;
  }

  .feeds-board {
    width: 54.9rem;
  }
}

/* media query from 1200 */
@media (max-width: 79em) {
  .feeds-container {
    width: 105rem;
  }

  .feeds-board {
    width: 47.9rem;
  }
}

/* media query from 1025 */
@media (max-width: 64em) {
  .feeds-container {
    width: 95rem;
    padding: 0 2.2rem;
  }
  .feeds-board {
    width: 40.9rem;
  }
}

/* media query from 870 */
@media (max-width: 54.4em) {
  .feeds-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .feeds-board {
    width: 73.9rem;
  }
}

/* media query from 780 */
@media (max-width: 48.8em) {
  .feeds-container {
    padding: 0 6.2rem;
  }
  .feeds-board {
    width: 64rem;
  }
}

/* media query from 680 */
@media (max-width: 43em) {
  .feeds-board {
    width: 55rem;
  }
}

/* media query from 540 */
@media (max-width: 33.8em) {
  .feeds-board {
    width: 55.5rem;
  }
}

/* media query from 490 */
@media (max-width: 31em) {
  .feeds-board {
    width: 45.5rem;
  }
  .feeds-header {
    font-size: 3rem;
  }
}

/* media query from 430 */
@media (max-width: 27em) {
  .feeds-container {
    padding: 0 2.2rem;
  }
  .feeds-board {
    width: 44.5rem;
  }
  .feeds-header {
    font-size: 3rem;
  }
}

/* media query from 414*/
@media (max-width: 26em) {
  .feeds-board {
    width: 44.5rem;
  }
  .feeds-header {
    font-size: 3rem;
  }
  .feeds-container {
    padding: 0 2.2rem;
  }
}

/* media query from 380 */
@media (max-width: 24.4em) {
  .feeds-board {
    width: 40.5rem;
  }
}

/* media query from 390 */
@media (max-width: 24.37em) {
  .feeds-header {
    font-size: 2.5rem;
  }
  .feeds-board {
    width: 42.5rem;
  }
}

/* media query from 360 */
@media (max-width: 22.5em) {
  .feeds-board {
    width: 38.5rem;
  }
}
