.section-mostRead {
  /* padding: 1.8rem 0 9.6rem 0; */
  padding: 1.8rem 0 0rem 0;
}

.mostRead-header {
  color: #f2f2f2;
  font-weight: 700;
  font-size: 2.2rem;
  margin-top: 0rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.mostRead-container {
  /* width: 130rem;
  margin: 0 auto; */
  padding: 4.8rem 16.2rem;
  background-color: #2c2c2c;
}

.mostRead-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.mostRead-item {
  display: flex;
  gap: 2.4rem;
  padding: 1.6rem 0rem;
  align-items: center;
  flex: 1 1 35%;
}

.mostRead-item-skeleton {
  /* display: flex; */
  margin-bottom: 1rem;
  width: 100%;
  /* gap: 2.4rem; */
  /* align-items: center; */
  /* padding: 0.1rem; */
  /* border: 1px solid grey; */
  border-radius: 5px;
  flex: 1 1 35%;
}

.mostRead-item:nth-child(odd)::after {
  content: "|";
  height: 5.5rem;
  border-right: 1px solid #d4d4d4;
  margin: 0rem 2rem;
}

.mostRead-number {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: 700;
  color: #f2f2f2;
  padding: 0rem 1.5rem;
}

.mostRead-content:link,
.mostRead-content:visited {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  font-size: 1.7rem;
  color: #d4d4d4;
  line-height: 2rem;
  word-spacing: 0.3rem;
  text-decoration: none;
}

/* media query from 930 */
@media (max-width: 58em) {
  .mostRead-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .mostRead-item:nth-child(odd)::after {
    content: "";
    height: 0rem;
    border-right: none;
    margin: 0rem 0rem;
  }
}

/* media query from 870 */
/* @media (max-width: 54.4em) {
  .footer-container {
    width: 80rem;
  }
} */

/* media query from 780 */
/* @media (max-width: 48.8em) {
  .footer-container {
    width: 70rem;
  }
} */

/* media query from 680 */
@media (max-width: 43em) {
  .mostRead-container {
    padding: 4.8rem 10.2rem;
  }
}

/* media query from 540 */
@media (max-width: 33.8em) {
  .mostRead-container {
    padding: 4.8rem 5.2rem;
  }
}

/* media query from 490 */
/* @media (max-width: 31em) {
  .footer-container {
    width: 41rem;
  }
} */

/* media query from 380 */
@media (max-width: 24.4em) {
  .mostRead-container {
    padding: 4.8rem 2.2rem;
  }
}
