.section-promotions {
  padding: 1.8rem 0 9.6rem 0;
}

.promotion-container {
  width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  /* margin: 7rem auto 0 auto; */
}

.promotion-content-img-box {
  width: 40rem;
  height: 24rem;
}

.promotion-content-img {
  width: inherit;
  height: inherit;
}

.promotion-content-text-box {
  position: relative;
  height: 22rem;
  color: #fff;
  background-color: #000;
  padding: 16px;
}

.promotion_logo_sm_container {
  display: flex;
  position: absolute;
  top: 12rem;
  align-items: center;
  margin-top: 5rem;
}

/* media query from 1270 */
@media (max-width: 79em) {
  .promotion-container {
    width: 120rem;
  }
}

/* media query from 1200 */
@media (max-width: 76em) {
  .promotion-container {
    width: 105rem;
  }
}
