.section-reset {
  width: 60rem;
  margin: 3rem auto;
}

.reset-container {
  margin: 2rem 0 2rem 0;
}

.formController {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.formLabel {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  word-spacing: 2px;
  color: rgb(45, 55, 72);
  padding: 1rem 0rem;
}

.formSpan {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  color: #353c41;
}

.formInput {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  padding: 1rem;
}

.reqField {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 2rem;
  text-transform: uppercase;
  color: #aa1414;
}
