.section-reset {
  width: 60rem;
  /* height: 100vh; */
  margin: 15rem auto;
}

.reset-container {
  margin: 2rem 0 2rem 0;
}

.formController {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.formLabel {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  word-spacing: 2px;
  color: rgb(45, 55, 72);
  padding: 1rem 0rem;
}

.formSpan {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  color: #353c41;
}

.formInput {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  padding: 1rem;
}

.reqField {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 2rem;
  text-transform: uppercase;
  color: #aa1414;
}

/* media query from 660 */
@media (max-width: 41.3em) {
  .section-reset {
    width: 56rem;
  }
}

/* media query from 490 */
@media (max-width: 31em) {
  .section-reset {
    width: 48.5rem;
  }
}

/* media query from 430 */
@media (max-width: 25em) {
  .section-reset {
    width: 46rem;
  }
}

/* media query from 380 */
@media (max-width: 24.4em) {
  .section-reset {
    width: 42.5rem;
  }
}
