.section-profile {
  width: 130rem;
  margin: 3rem auto;
}

.profile-header-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem 0;
}

.profile-header {
  font-size: 2.4rem;
  letter-spacing: 0.5px;
  color: rgb(45, 54, 59);
}

.profile-paragraph {
  font-size: 1.5rem;
  color: rgb(113, 128, 150);
}

.profile-setting-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
}

.profile-setting-sidebar {
  max-height: 20rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  border-radius: 0.3rem;
  padding: 2rem;
}

.profile-sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-item:link,
.sidebar-item:visited {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(53, 60, 65);
  font-size: 1.7rem;
  padding: 1.2rem 1.7rem;
  margin-bottom: 0.2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.sidebar-active {
  background-color: rgb(45, 55, 72);
  color: rgb(255, 255, 255) !important;
}

/* .sidebar-item:hover,
.sidebar-item:active {
  cursor: pointer;
  color: #60cf71;
} */

.profile-setting-actions {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.075);
  padding: 2rem;
}

.profile-setting-sidebarRight {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.profile-setting-fieldList:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.profile-setting-fieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem 1rem;
}

.profile-setting-field {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: rgb(45, 55, 72);
}

.profile-setting-field2 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(53, 60, 65);
}

/* media query from 1280 */
@media (max-width: 80em) {
  .section-profile {
    width: 125rem;
  }
}

/* media query from 1270 */
@media (max-width: 79em) {
  .section-profile {
    width: 120rem;
  }
}

/* media query from 1200 */
@media (max-width: 75em) {
  .section-profile {
    width: 105rem;
  }
}

/* media query from 1145 */
@media (max-width: 71.6em) {
  .section-profile {
    width: 100rem;
  }
}

/* media query from 995 */
@media (max-width: 62.2em) {
  .section-profile {
    width: 85rem;
  }
}

/* media query from 890 */
@media (max-width: 55.7em) {
  .section-profile {
    width: 74rem;
  }

  .profile-setting-sidebar {
    max-height: 25rem;
  }
}

/* media query from 780 */
@media (max-width: 48.8em) {
  .section-profile {
    width: 70rem;
  }

  .profile-setting-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* media query from 660 */
@media (max-width: 41.3em) {
  .section-profile {
    width: 60rem;
  }
}

/* media query from 490 */
@media (max-width: 31em) {
  .section-profile {
    width: 46rem;
  }
}

/* media query from 430 */
@media (max-width: 25em) {
  .section-profile {
    width: 37rem;
  }
}

/* media query from 412 */
@media (max-width: 25.75em) {
  .section-profile {
    width: 46rem;
  }
}

/* media query from 380 */
@media (max-width: 24.4em) {
  .section-profile {
    width: 42rem;
  }
}

/* media query from 360 */
@media (max-width: 22.5em) {
  .section-profile {
    width: 39rem;
  }
}
